.button-and-message {
  display: inline-block;
  vertical-align: top; /* Alinhar os elementos verticalmente ao topo */
}

.btn-orange {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 10px; /* Espaço à direita do botão */
}

.message {
  color: orange;
  font-weight: bold;
  display: inline-block; /* Para posicionar ao lado do botão */
}
