<div style="width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
  <p style="color: orange; font-weight: bold;">Soma da distância: <span style="color: orange;">{{ totalDistance }} metros</span></p>
  <!-- leaflet-map.component.html -->

</div>
<div class="button-and-message">
  <button (click)="addMarkerFromClick()" class="btn-orange">Adicionar coordenadas</button>
  <div class="message" [hidden]="!showMessage">{{ message }}</div>
</div>


<br /><p></p>




<div id="map" style="height: 500px;"></div>
